body{
    margin: 20px;
}

.avatar {
    width: 150px;
    border-radius: 10px;
}

.card {
    display: flex;
    width: 400px;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px 8px;
    background-color: rgb(234, 51, 93);
    border-radius: 5px;
    border-bottom: 8px solid black;
    box-shadow: 10px 10px wheat;
}

h3 {
    text-shadow: 1px 1px;
}